.main-container, .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container, .select-button-container, .select-button, .submit-button {
    width: 100%;
}

.main-container {
    height: auto;
}

.upload-container {
    width: 480px;
    height: auto;
    padding: 2rem;
    border: 0.25rem dashed #808080;
}

.drop-text {
    color: #808080;
}

.select-button, .submit-button {
    padding: 0.5rem;
}

.submit-button {
    margin: 1rem 0;
}

.hidden {
    display: none;
}