.main-container, .upload-container, .input-container {
    display: flex;
}

.main-container {
    flex-direction: column;
}

.main-container, .input-container {
    align-items: center;
}

.upload-container, .input-container {
    justify-content: space-around;
    padding: 1rem;
}

.input-container {
    align-content: center;
    height: 200px;
    margin: 0 0.75rem;
    padding: 2rem;
    border: 1px solid #008b8b;
}

.input-container:nth-of-type(2) {
    flex-grow: 2;
}

.drop-text {
    color: grey;
}

.submit-button {
    width: 45%;
    margin: auto;
    padding: 0.5rem;
}
